.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Argumento:
            | Razonamiento para probar o demostrar una proposición, o para convencer de lo que se afirma o se niega” RAE (2020).
        hr
        p
            strong.mr-2 Memoria:
            | relación de algunos acontecimientos particulares, que se escriben para ilustrar la historia.
        hr
        p
            strong.mr-2 Lenguaje:
            | facultad del ser humano de expresarse y comunicarse con los demás a través del sonido articulado o de otros signos. 
        hr
        p
            strong.mr-2 Pensamiento:
            | conjunto de ideas propias de una persona, de una colectividad o una época.     