include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aristóteles. (340 A.C.). Ética a Nicomaco.", "")   
        +referenciaItem("Bustamante & Alfonso (2009). Lógica y argumentación. De los argumentos inductivos a las álgebras de Boole.", "")
        +referenciaItem("Campos, Lule & Nallely (2012). La observación, un método para el estudio de la realidad. ", "")
        +referenciaItem("Copi & Cohen (1998). Introducción a la lógica.", "https://logicaformalunah.files.wordpress.com/2017/01/irving_m-_copi_carl_cohen_introduccion_a_la_log.pdf")
        +referenciaItem("De la Garza, D. (2003). ¿Qué es el pensamiento dialógico crítico?", "")
        +referenciaItem("Ecured (s.F.). Comprensión (Literatura).", "https://www.ecured.cu/Comprensi%C3%B3n_(Literatura)")
        +referenciaItem("Freire, Paulo & Faúndez (1985). Por una pedagogía de la pregunta.", "https://aprendizajesparalelos.files.wordpress.com/2016/08/paulo-freire-y-antonio-faudez-por-una-pedagogia-de-la-pregunta.pdf")
        +referenciaItem("Lectura Ágil (2019). 3 Ejercicios para Potenciar tu Concentración y tu Memoria.", "https://www.youtube.com/watch?v=KVKZTPvdABs&t")
        +referenciaItem("Ortega (2002). Cómo lograr que los demás se salgan con la nuestra. Técnicas de persuasión, negociación y oratoria.", "")
        +referenciaItem("RAE (2020). Argumento.", "https://dle.rae.es/argumento")
        +referenciaItem("RAE (2020). Memoria.", "https://dle.rae.es/memoria")
        +referenciaItem("RAE (2020). Lenguaje.", "https://dle.rae.es/lenguaje")
        +referenciaItem("RAE (2020). Pensamiento.", "https://dle.rae.es/pensamiento")
        +referenciaItem("Real Academia Española (2001). Argumento.", "https://dle.rae.es/argumento")
        +referenciaItem("Uriarte J. (2020). 10 características del pensamiento.", "https://cutt.ly/wlINgkd")
        +referenciaItem("Vygotsky (1984). Pensamiento y lenguaje. Capítulo 7.", "")         
        
        
 


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            