.container#tema_1

    .header-ecored
      h1 1. Comunicación

    .jumbotron.bg-white       
      .chapter 
        .chapter__img 
          img(src="assets/images/pages/tema_1/img_1_01.jpg", alt="", style="width:100%;")
        .chapter__body
          p La exposición de una idea o mensaje como argumento es una de las grandes soluciones de la comunicación, según la Real Academia Española (2001) el argumento es “razonamiento que se emplea para probar o demostrar una proposición, o bien para convencer a alguien de aquello que se afirma o se niega”. Con esta definición se entiende que esta posición es la que permite como aprendiz y persona entender los conceptos concretos, sea para aprender, discernir, convencer o negar cualquier posición, acá la vamos a desarrollar y decodificar para su descubrimiento.

      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Decodificación y estructura de mensajes

      .row.justify-content-center.align-items-center.mb-3 
        .col-12.col-lg 
          p Cada mensaje es sensible de comprensión o incomprensión, aceptación o rechazo, según el momento y el contexto en el que se emita, el momento marca la situación particular, la pertinencia del mismo, no dando prioridad al hablante o emisor, sino al oyente o receptor, su sentir y actitud de escucha. Y, el contexto hace referencia al lugar físico en el que se emitirá el mensaje, generando la pregunta:
        .col-auto
          img(src="assets/images/pages/tema_1/img_1_1_01.png", alt="", style="width:450px")

      .row.justify-content-center 
        .col-12.mb-5 
          p En muchas ocasiones se emiten mensajes sin pensar si será el momento y el contexto adecuado, ejemplo de ello:
        .col-12.mb-5
          img(src="assets/images/pages/tema_1/info_1_1_01.png", alt="", style="width:100%")
        .col-11
          .jumbotron(style="Background-color:#FBF9F4;") 
            p.mb-0 Es claro que el emisor no se dio a la tarea de codificar su mensaje, es decir, dedujo los signos necesarios que se tenían que codificar para que el receptor logre interpretarlos y llegar a entenderlos. Lo que invita a construir la palabra en contexto, para que el receptor pueda decodificar el mensaje, apropiar los signos, las señales y asociarlos con las ideas que se tratan de expresar, el mensaje debe llegar claro al receptor.
        .col-12.mb-5 
          p En tal sentido, es consecuente reconocer la estructura del mensaje para que cada quien, desde una mirada constructiva, autoevalúe la manera como está emitiendo sus mensajes, toda vez que la teoría sin un contexto no deja de ser sólo teoría.
        .col-12.mb-4
          img(src="assets/images/pages/tema_1/info_1_1_02.svg", alt="", style="width:100%")

      .customBanner.mb-5(style="margin: 0 -35px; padding: 2rem; background-color:#E6F5FF;")  
        .row.justify-content-center.align-items-center 
          .col-auto.mb-5.mb-lg-0
            img(src="assets/images/pages/tema_1/img_1_1_02.svg", alt="", style="width:300px")
          .col-12.col-lg-6
            .list
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt
                p ¿Las señales, símbolos y signos que utilizo, son apropiados para emitir un mensaje? Y, por tanto, ¿Soy consecuente entre lo que digo y hago?
            .list
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt
                p ¿Cómo me comunico ante una colectividad, cuando publicó un mensaje, envío un correo electrónico formal o comento una publicación?
            .list
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_single_chevron.svg", alt="")
              .list__txt
                p.mb-0 ¿Leo en busca de mensajes que me aporten a mí ser personal y profesional?

      .row.justify-content-center.align-items-center.mb-5 
        .col-12.col-lg.order-last.order-lg-first
          p #[strong Por último, algunas características de los mensajes pueden ser:]
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p Se puede traducir a través de texto, imagen y/o sonido, los cuales se utilizan de acuerdo a la naturaleza del mensaje.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p El contenido debe estar articulado con el tema general, además de tener en cuenta como se mencionó, el momento y el contexto.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p El mensaje es racional cuando es argumentativo.          
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p El mensaje puede ser: deductivo, retórico, símil (de comparación), personificación (personificar algunas cosas o animales).

        .col-auto.order-first.order-lg-last.mb-4.mb-lg-0
            img(src="assets/images/pages/tema_1/img_1_1_03.svg", alt="", style="width:280px")


      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 Pregunta, observación e interpretación

      .row.justify-content-center.mb-5
        .col-12.col-lg-10            
          img(src="assets/images/pages/tema_1/img_1_2_01.svg", alt="", style="width:100%")
        .col-12 
          p #[strong(style="color:#3487AD") ¿A qué se le llama preguntar?], siguiendo a Freire y Faundez (2013) “… no radica en hacer un juego intelectual con la pregunta”.  Premisa que se estima de gran importancia, toda vez que se tecnifican discursos en contextos laborales y académicos, generando un temor disfrazado de silencio frente a preguntas simples que se pueden generar, pero quedan en el silencio.
          p O, el individuo deslegitima el derecho a la pregunta obvia, a la pregunta simple, a la pregunta que le inquieta. Conectando a Freire y Faundez, quienes al responder ¿Qué es preguntar? Refieren “vivir la pregunta, vivir la indagación, vivir la curiosidad”. De esta manera, formularse un juego de preguntas ante una premisa, partiendo de lo simple a lo complejo, no solo permitirá dar rienda suelta a la curiosidad, sino también el profesional inquieto, se admirará con otras lógicas construidas desde su propia inquietud.
          p Yendo más allá de la pregunta, se hace necesario, cotejar pregunta / respuesta, de manera que estas sean interpretadas en contextos pasados, con probabilidad de suceder o de repetirse. Parafraseando a Freire y Faundez (2013) es necesario descubrir la relación dinámica, fuerte y viva entre palabra y acción, entre palabra y reflexión. Esto motiva a implementar la observación como técnica que objetiviza la información recibida a partir de la formulación de preguntas.

      .row.justify-content-center.align-items-center.mb-5 
        .col-auto.mb-4.mb-lg-0 
          img(src="assets/images/pages/tema_1/img_1_2_02.png", alt="", style="width:350px")
        .col.col-lg  
          .jumbotron(style="background-color:#F4EFE2")
            p Así, #[strong(style="color:#3487AD") observar], no es el mero hecho de mirar, como oír no es escuchar. Observar es articular los sentidos de cara a las respuestas que se buscan, de cara a la curiosidad y por tanto llegar a interpretaciones nuevas, complementarias o refutables dado que pueden surgir nuevas preguntas. En la consecución de información frente a un tema de interés o una premisa, observar desde una mirada crítica, utilizando herramientas de registro, permite construir conocimiento que a su vez se configuran como argumentos que complementan, amplían, o refutan un tipo de pensamiento o teoría.
            p.mb-0 Según Campos, Lule & Nallely (2012) “la observación no es una actividad sólo practicada por el hombre de ciencia, sino que ésta, es una acción cotidiana de los sujetos que al no ser rígida toma diversos matices de acuerdo al interés de los hombres y a la forma en cómo se utiliza”. 

      .row.mb-5 
        .col-12.mb-3 
          p Por otra parte, Ander Egg (2003), citado por Campos y Lule “la observación presenta dos acepciones; la primera se relaciona con la técnica de investigación, la cual participa en los procedimientos para la obtención de información del objeto de estudio”.
          p Con estos aportes, la observación sistemática que utiliza todos los sentidos y el conocimiento propio y se hace con un propósito determinado previamente, aporta a la recolección de información, objeto de análisis e interpretación. Para la RAE interpretar es “explicar o declarar el sentido de algo, y principalmente el de un texto”, explicar acciones, dichos o sucesos que pueden ser entendidos de diferentes modos”. Por tanto, dar sentido y significado a un texto o situación real, permite aprehender el conocimiento y por tanto dominio como herramienta vital en la argumentación.  
          p #[strong Campos y Lule (2012), aportan los siguientes criterios a tener en cuenta en la técnica de observación para que esta sea objetiva y definida, evitando desviar el tema de estudio. Se parafrasean los criterios así:] 
        .col-12 
          .jumbotron.mb-0 
            .list
              .list__item
                .list__item__bulletNumber(style="background-color:#48B1E2;")
                  span(style="color:white;") A
              .list__txt
                p.mb-0 ¿Las señales, símbolos y signos que utilizo, son apropiados para emitir un mensaje? Y, por tanto, ¿Soy consecuente entre lo que digo y hago?.
            .hr-divider.my-3(style="background-color:#D9E3F3;")
            .list
              .list__item
                .list__item__bulletNumber(style="background-color:#48B1E2;")
                  span(style="color:white;") B
              .list__txt
                p.mb-0 Determinar cuál es la fundamentación con que rige la observación, y así establecer la forma de realizarla.
            .hr-divider.my-3(style="background-color:#D9E3F3;") 
            .list
              .list__item
                .list__item__bulletNumber(style="background-color:#48B1E2;")
                  span(style="color:white;") C
              .list__txt
                p.mb-0 Diseñar las guías de observación que auxilien a sistematizar el proceso; así como la duración y frecuencia de los registros; la funcionalidad de estas guías estará sujeta al tipo de observación que se emplee: de laboratorio, participante, no participante, estructurada o no estructurada. 
            .hr-divider.my-3(style="background-color:#D9E3F3;") 
            .list
              .list__item
                .list__item__bulletNumber(style="background-color:#48B1E2;")
                  span(style="color:white;") D
              .list__txt
                p.mb-0 Realizar registros de observación con base en las guías, según sea el caso, para valorar si los tiempos, las manifestaciones, o las actuaciones de los sujetos o fenómenos que se registran en ellas son los necesarios para cubrir el tema de estudio. 
            .hr-divider.my-3(style="background-color:#D9E3F3;") 
            .list
              .list__item
                .list__item__bulletNumber(style="background-color:#48B1E2;")
                  span(style="color:white;") E
              .list__txt
                p.mb-0 Seleccionar los procesos que aportan al análisis e interpretación de lo observado.


      .row.mb-3
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3 Argumentación y proposición
        .col-12 
          p Se puede entender argumentar como el hecho de aducir, dar argumentos, impugnar una opinión ajena. Dotar de argumento una historia, guión o película.
          p Dicho lo anterior, argumentar es una labor ética del profesional en formación en sus contextos académicos y laborales. De la misma manera que en el contexto social, toda vez que las decisiones que se tomen, los señalamientos que se hagan al otro, deben ser objeto de análisis y argumentación. Surge la pregunta ¿Para qué argumentar?, respuesta que se articula a los diversos contextos en que interactúa el individuo, se argumenta para:

      .customBanner.mb-5(style="margin: 0 -35px; padding: 2rem; background-color:#FFF9EC;")
        .row.justify-content-center 
          .col-12.col-lg-11 
            img(src="assets/images/pages/tema_1/info_1_3_01.svg", alt="", style="width:100%")

      .row.justify-content-center.align-items-center.mb-4
        .col-12.col-lg
          h2(style="color:#3487AD;") ¿Cómo argumentar?
          p Esta respuesta se articula con el tema anterior pregunta, observación e interpretación, son elementos constitutivos del argumento que transversalizan la construcción de un argumento. Para argumentar hay que preguntarse, inquietarse, generar hipótesis, ver el todo de una manera holística, no solo observar una parte, sino las partes en relación con el todo.
          p Ejemplo de ello, la construcción de un ensayo o escrito fundamentado en proposiciones objetivas. Un ensayo se compone de tres partes básicas y dialogantes entre sí: introducción, cuerpo y conclusión, dotado de aportes estadísticos, científicos o técnicos. Como complemento se aporta la guía para construir ensayos de la Universidad del Rosario. 
        .col-auto.mt-5.mt-lg-0 
          img(src="assets/images/pages/tema_1/img_1_3_01.svg", alt="", style="width:280px")

      .row.justify-content-center
        .col-12.mb-4 
          p Además de lo mencionado, para saber cómo argumentar, es necesario saber las formas de argumentación y de acuerdo con ello, el exponente del argumento reunirá la información a partir de observación, lecturas y/o ejercicios investigativos, que aporten elementos suficientes y necesarios para construir su argumento. 
        .col-12.mb-5
          h3 La estructura argumentativa puede ser: 
        .col-12.mb-5 
          img(src="assets/images/pages/tema_1/info_1_3_02.svg", alt="", style="width:100%")
        .col-12.mb-5
          p En este último fragmento se habla de #[strong(style="color:#3487AD") proposición], por lo que es importante precisar a qué hace referencia a la vez que tiene todo que ver con la argumentación. 
          p Para Aristóteles (340 a. C.), una proposición es “un discurso enunciativo perfecto que se expresaba en un juicio que significaba falso o verdadero”, significado que se retoma, toda vez que para considerar un tesis, situación o idea como cierta o falsa el individuo está llamado a construir el argumento de su apreciación, para que de esta manera los conocimientos o la información que aporta sea precisa, clara y la relación es precisa.

        .col-12.col-lg-9.mb-5 
          img(src="assets/images/pages/tema_1/info_1_3_03.svg", alt="", style="width:100%")

        .col-12.mb-4 
          p De otra parte, para Bustamante (2009) un argumento o razonamiento es un bloque de proposiciones, con el cual se afirma que una de ellas, llamada conclusión se deriva, se desprende o se sigue como consecuencia de otras proposiciones del mismo bloque llamadas #[strong “premisas”].
          p Por último y siguiendo, con Bustamante (2009) un ejemplo de estructura de argumento puede ser.

        .col-12.col-lg-9.mb-5
          .jumbotron.mb-0 
            .row.align-items-center 
              .col-auto 
                img(src="assets/images/pages/tema_1/icon_1_3_01.svg", alt="", style="width:65px")
              .col
                p.mb-0 Ejemplo: construir un diagrama que muestre la estructura del argumento siguiente, es decir, la relación de dependencia entre las premisas, y entre estas y la conclusión (Copi & Cohen, 1998).

        .col-12.col-lg-9.mb-5 
          img(src="assets/images/pages/tema_1/info_1_3_04.svg", alt="", style="width:100%")
        .col-12.col-lg-9.mb-5 
          p #[strong El primer paso consiste en reescribir el argumento, insertando códigos numéricos para identificar las premisas y la(s) conclusión(es) y para delimitar el alcance de las mismas, corno se ve a continuación:]
          p {1} [En las democracias, las leyes generalmente tienden a promover el beneficio del mayor número posible de personas]; porque {2} [tales leyes emanan de la mayoría de los ciudadanos, quienes están sujetos a error, pero no pueden tener intereses opuestos a su propio beneficio]. Por el contrario, {3} [en una aristocracia las leyes tienden a concentrar la riqueza y el poder en las manos de la minarla]; porque {4} [una aristocracia, por su misma naturaleza, constituye una minoría]. En consecuencia, {5} [se puede asegurar, como afirmación general, que el propósito de la legislación es más útil a la humanidad en una democracia que en una aristocracia].
          p #[strong El segundo paso consiste en utilizar los códigos numéricos y sustituir con ellos las afirmaciones que representan. En nuestro ejercicio el texto toma esta forma: {1} porque {2}; {3} porque {4} y, en consecuencia {5}.]
        .col-12.col-lg-7.mb-5           
          img(src="assets/images/pages/tema_1/info_1_3_05.svg", alt="", style="width:100%")
        .col-12.col-lg-9
          p Las proposiciones {1} y {2} forman un razonamiento en el cual {1} es una conclusión parcial o intermedia, y {2} constituye la razón para la misma. Una relación similar existe entre las proposiciones {3} y {4}. Finalmente, las conclusiones intermedias {1} y {3} son las premisas en las cuales se fundamenta {5}, la conclusión global del argumento.


