.container#tema_2

    .header-ecored
      h1 2. Relación entre pensamiento y lenguaje

    .jumbotron.bg-white       
      .chapter 
        .chapter__img 
          img(src="assets/images/pages/tema_2/img_2_01.jpg", alt="", style="width:100%;")
        .chapter__body
          p Desde la premisa “todo conversa”, el primer lenguaje es el no verbal y por naturaleza es gestual, corporal, emocional y lógico, por tanto, está en permanente movimiento y transformación, en donde el desarrollo del ser humano y el contexto en el que está inmerso aportan de manera significativa a su lenguaje.        

      .row.mb-5
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 Lectura comprensiva e interpretativa
        .col-12 
          p La lectura es considerada como un proceso de comprensión de información que el receptor recibe por medio de un lenguaje, cuyos códigos visuales o táctiles son reconocidos por el receptor. Por tanto, la lectura comprensiva e interpretativa que el oyente o receptor hace del medio configura un elemento básico en el desarrollo de su lenguaje.

      .row.justify-content-center.align-items-center.mb-5 
        .col-auto.mb-4.mb-lg-0 
          img(src="assets/images/pages/tema_2/img_2_1_01.png", alt="", style="width:350px")
        .col.col-lg  
          .jumbotron(style="background-color:#F4EFE2")
            p Es necesario precisar que, para argumentar, el profesional en formación debe hacer una lectura holística de todo lo relacionado con el tema objeto de estudio, basándose en diferentes fuentes, lógicas y contextos según su pertinencia.
            p Para el caso, se resalta la lectura comprensiva e interpretativa, teniendo en cuenta que para argumentar, es fundamental investigar textos que motiven la interpretación de lo leído en relación con la proposición objeto de estudio.
            p Según la RAE “comprensión es el conjunto de propiedades que permiten definir un concepto, por oposición o extensión”. Cursiva del texto propio.
            p.mb-0 Complementando, en EcuRed (s.f.) se cita “la comprensión es el proceso de elaborar el significado por la vía de aprender las ideas relevantes del texto y relacionarlas con las ideas que se tienen: es el proceso a través del cual el lector interactúa con el texto”.
      .row.mb-5
        .col-12 
          p Lo que indica que si no se hace una lectura comprensiva, su interpretación, carecerá de objetividad. Para que esto no ocurra, es básico que el lector se sienta en la capacidad de entender la lectura, tanto las palabras en el contexto, como la idea que el texto transmite. En este sentido, comprender implica no solo tener claridad del significado de palabras nuevas (diccionario a la mano), sino entenderlas en el texto que las enmarca, de esta manera se parafrasea, se generan nuevas ideas o se complementa con saberes propios.

      .row.mb-3.justify-content-center.align-items-center
        .col-12.col-lg-10.mb-5 
          img(src="assets/images/pages/tema_2/info_2_1_01.svg", alt="", style="width:100%")

      .customBanner.mb-5(style="margin: 0 -35px; padding: 2rem; background-color:#E6F5FF;")  
        .row.justify-content-center.align-items-center.mb-5
          .col-12.col-lg-9.mb-4
            img(src="assets/images/pages/tema_2/info_2_1_02.svg", alt="", style="width:100%")

        .row.justify-content-center.mb-3
          .col-auto    
            a(href="https://www.youtube.com/watch?v=KVKZTPvdABs",target="_blank",style="color:#12263F")        
              .jumbotron.mb-0.p-4(style="background-color:white;")
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/pages/icons/icon_media_video.svg", alt="", style="width:55px")
                  .col
                    p.mb-0 #[strong Recurso.] 3 Ejercicios para Potenciar tu Concentración y tu memoria.       

      .row.mb-5
        .col-12
          .header-ecored.mt-3#tema2_2
            h2 2.2 Pensar, organizar e interpretar el mundo           
        .col-12
          p Para Uriarte (2020), el pensamiento es “la actividad que lleva a cabo todo ser humano a través de la utilización y desarrollo cognitivo de la mente. Se considera que cualquier actividad que produzca la mente es denominada como pensamiento”. 
          p Desde este aporte, es necesario relacionar atención – memoria – pensamiento – lenguaje. 

      .row.justify-content-center.align-items-center.mb-5  
        .col-12.col-lg-9
          img(src="assets/images/pages/tema_2/info_2_2_01.svg", alt="", style="width:100%")

      .row.mb-5 
        .col-12 
          p En este sentido, pensamiento y lenguaje están claramente relacionados, tomar del ambiente y organizar los pensamientos, permite al ser humano hacer diferentes interpretaciones desde otras lógicas, susceptibles de interpretar, facilitando el aprendizaje significativo, el cual está relacionado con el contexto en el que se desenvuelve el individuo y da orden y sentido a lo que se piensa, por tanto, responde a las necesidades de la persona.

      .customBanner.mb-5(style="margin: 0 -35px; padding: 2rem; background-color:#E6F5FF;")
        .row.justify-content-center.align-items-top.my-4
          .col-12.mb-5 
            h3.text-center(style="color:#3487AD") El aprendizaje significativo se puede lograr por: 
          .col-12.col-lg-4.mb-6.mb-lg-0
            .verticalCard(style="background-color:white;")               
              .verticalCard__body
                img(src="assets/images/pages/tema_2/icon_2_2_01.svg", alt="")
                p.text-center #[strong Imitación], la cual se estimula escuchando e imitando.
          .col-12.col-lg-4.mb-6.mb-lg-0
            .verticalCard(style="background-color:white;")               
              .verticalCard__body
                img(src="assets/images/pages/tema_2/icon_2_2_02.svg", alt="")
                p.text-center #[strong Reforzamiento], implica repetir frases o palabras que se espera queden en la memoria.      
          .col-12.col-lg-4.mb-6.mb-lg-0
            .verticalCard(style="background-color:white;")            
              .verticalCard__body 
                img(src="assets/images/pages/tema_2/icon_2_2_03.svg", alt="")
                p.text-center #[strong Procesamiento del lenguaje], que se recibe del medio y se construye su propia gramática. Teoría aportada por Noam Chomsky.
      .row.mt-5.mb-5
        .col-12 
          p Finalizando, para el desarrollo del pensamiento y lenguaje la fonética y la semántica, son elementos significativos para llegar a un pensamiento lingüístico.


      .row.justify-content-center.align-items-center.mb-3
        .col-12.col-lg
          .header-ecored.mt-3#tema2_3
            h2 2.3 Comprender y argumentar
      .row.mb-5
        .col
          .card.mb-5
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/E7-BaX6ox9s', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')            

      .row.mb-5
        .col-12 
          h3.text-center Así, el proceso de comprensión y argumentación a través del pensamiento verbal, sería:

      .row.justify-content-center.align-items-center.mb-5  
        .col-12.col-lg-9
          img(src="assets/images/pages/tema_2/info_2_3_01.svg", alt="", style="width:100%")

      .customBanner.mb-0(style="margin: 0 -35px; padding: 2rem; background-color:#E6F5FF;")
        .row.justify-content-center 
          .col-12.col-lg-11
            .jumbotron.mb-0(style="background-color:white") 
              .jumbotron.mb-5(style="background-color:#3587AD; margin:-33px -33px 0 -33px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;") 
                p.mb-0(style="color:white") Para finalizar, Ortega (2002), las “características de un pensador” se parafrasean, toda vez que desde el pensamiento se comprende y se argumenta. El pensador:
              .row.justify-content-center.align-items-center 
                .col-auto.mb-4.mb-lg-0 
                  img(src="assets/images/pages/tema_2/img_2_3_01.svg", alt="", style="width:300px")
                .col-12.col-lg
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p Tiene una mirada autocrítica.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p Se informa permanentemente.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Organiza la información.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Participa en debates con argumentos y asume actitud de escucha.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Planifica sus discursos. 
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Se pregunta y pregunta, desde miradas simples y complejas.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Admite si otros tienen argumentos más válidos y aprende de ellos.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Atiende razones, no pasiones.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Tiene claridad del propósito de su discurso argumentativo.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Su pensamiento es dinámico, activo y crítico.
                  .list
                    .list__item
                      .list__item__icon
                        img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                    .list__txt
                      p  Observa, analiza, compara, comprueba, predice y evalúa.



      